<h1>Enter New Video Game</h1>
<%=form_for @video_game do |f|%>
    <%=f.label "Title Name"%>
    <%=f.text_field :title%><br>

    <%=f.label "Genre"%>
    <%=f.text_field :genre%><br>

    <%=f.submit%>
<%end%>
